.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #afafaf;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.pizza-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease;
    width: 10000%;
}

.pizza-list li {
    margin-right: 20px;
    flex: 0 0 auto;
}

.arrow-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.arrow-button.prev {
    left: 10px;
}

.arrow-button.next {
    right: 10px;
}

.active {
    background-color: grey;
}

.pizza-list li:hover img {
    transform: scale(1.1);
    filter: brightness(120%);
}

.pizza-list li:hover h2 {
    font-size: 1.1em;
    color: #292929;
}

.pizza-list li img,
.pizza-list li h2 {
    transition: transform 0.3s ease, filter 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.arrow-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow-button.prev {
    left: 10px;
}

.arrow-button.next {
    right: 10px;
}