nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

a:hover {
    background-color: #555;
}

.home {
    margin-right: auto;
}

ul {
    margin-left: auto;
    margin-right: 30px;
}
